{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
    {# templates/security/login.html.twig #}
    {# ... you will probably extend your base template, like base.html.twig #}

    <div class="container">
        <div class="justify-content-center gurizone-login p-lg-4 m-lg-5 p-md-4 m-md-3 p-sm-4 m-sm-5">
        <h1 class="text-center">Iniciar sesión</h1>
            {% if error %}
                <p class="text-danger">Error en el inicio de sesion</p>
            {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="_username" class="text-black">Email:</label>
                <input type="email" class="form-control" id="_username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
                <label for="password" class="text-black">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="_password"/>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account"/>
            #}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
            <hr/>
            <div>
                <p class="text-center">¿Eres nuevo en GuriZone?</p>
            </div>
            <div class="text-center">
                <a href="#registrarse"><button type="button" class="btn btn-secondary">Crear tu cuenta en GuriZone</button></a>
            </div>
        </form>
        </div>
    </div>
{% endblock %}